/* * styles for mobile phones and tablet*/
/* * breakpoints from bootstrap */
/* !------------------------- */

/*! Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
	/* * team section */
	.team,
	.feature-wrapper {
		flex-direction: column;
		gap: 30px;
	}
	.team-images img {
		width: 60%;
		display: block;
		margin: auto;
	}
	.team-details {
		width: 80%;
		text-align: center;
	}

	/* * feature section */
	.feature {
		margin-right: 0px;
		margin: 0 0 20px 0;
	}
	.feature-img img {
		width: 100%;
	}
	.extra-feature > div {
		position: relative;
		bottom: 0px;
		right: 0px;
	}
	.extra-feature {
		text-align: center;
		margin-top: 20px;
	}
	.feature-section-title {
		font-size: 28px;
		line-height: 40px;
	}
	.section-details {
		max-width: 80%;
	}
}

/*! X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
	/* * fixing the navigation */
	nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 30px 0;
	}
	.logo {
		margin-bottom: 20px;
	}
	.nav-links {
		font-size: 13px;
		flex-direction: column;
	}
	/* * header content */
	.header-content {
		max-width: 100%;
		padding: 20px 0;
	}
	/* * team section */
	.team-images {
		grid-template-columns: repeat(1, 1fr);
	}
	.team-images img {
		width: 70%;
	}
	.team-details {
		width: 95%;
	}

	/*! facts section */
	.facts-container {
		flex-direction: column;
	}
	.section-details {
		max-width: 100%;
	}
	.fact {
		max-width: 200px;
		margin: auto;
	}
	/*! contact section */
	.contact-container {
		flex-direction: column;
		gap: 30px;
	}
}
