/* ! importing poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* ! all reset and reusable styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}
p {
	color: #727272;
	line-height: 26px;
	font-size: 14px;
}

/* ! navigation styles */
nav {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	justify-content: space-around;
}
.nav-link a {
	text-decoration: none;
	color: #424242;
}
main {
	max-width: 80%;
	margin: auto;
}
section {
	margin: 50px 0;
}
/* ! header styles */
.header-container {
	width: 90%;
	margin: auto;
}
header {
	background: rgba(255, 144, 14, 0.1);
	padding-bottom: 30px;
}
.header-content {
	max-width: 70%;
	margin: auto;
	text-align: center;
	padding: 60px 0;
}
.header-title {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 20px;
}
.header-description {
	font-size: 14px;
	margin-bottom: 20px;
}
.primary-btn {
	padding: 10px 20px;
	font-weight: 600;
	background-color: #ff900e;
	border: none;
	color: #fff;
	border-radius: 5px;
	transition: 300ms;
}
.primary-btn:hover {
	background-color: #ff7402;
}
.banner-img img {
	width: 90%;
	display: block;
	margin: auto;
}

/* ! feature styles */
.team {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.team-images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}
.team-images img {
	width: 200px;
	box-shadow: 1px 0 10px rgba(0, 0, 0, 0.282);
	border-radius: 5px;
}
.team-details {
	width: 40%;
}
.team-section-title {
	font-size: 30px;
	line-height: 40px;
}
.gray {
	color: #727272;
}
.orange {
	color: #ff900e;
}
.team-description {
	margin: 10px 0 20px;
}

/* ! feature-section*/
.feature-section {
	position: relative;
}
.feature-wrapper {
	display: flex;
}
.feature-section p {
	font-size: 12px;
	line-height: 20px;
}
.feature-section-details {
	margin-bottom: 30px;
	max-width: 90%;
}
.feature-section-title {
	font-size: 35px;
	line-height: 55px;
	padding-left: 20px;
	margin-bottom: 20px;
	border-left: 3px solid #ff900e;
}
/* ! all features */

.feature {
	padding: 10px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.142);
	margin: 20px;
	margin-right: 40px;
	border-radius: 5px;
	max-width: 500px;
}
.feature-title {
	margin-bottom: 10px;
}
.feature-img img {
	width: 500px;
}
.extra-feature > div {
	display: inline-block;
	padding: 20px;
	background-color: #ff900e;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	position: absolute;
	bottom: 5px;
	right: 350px;
}
.extra-feature h2 {
	font-size: 30px;
}
.extra-feature p {
	color: #fff;
	margin-top: 5px;
}
/* ! facts section */
.section-details {
	max-width: 50%;
}
.section-details h2 {
	margin-bottom: 20px;
}
.facts-container {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
	gap: 40px;
}
.fact {
	min-width: 150px;
	padding: 20px;
	text-align: center;
	border: 1px solid;
	transition: 300ms;
}
.fact:hover {
	transform: scale(1.2);
	background-color: #ff880064;
}
.fact img {
	width: 35px;
	margin-bottom: 5px;
}

/* ! sponsors styles */
.sponsors .section-details {
	margin: 70px auto 40px;
	text-align: center;
}
.sponsors-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
}
.sponsors-container img {
	filter: grayscale(100%); /* * got this style from google */
	width: 130px;
	display: block;
	margin: auto;
}
